{% extends 'base.html' %}

{% block content %}

<div class="ui grid container" id="cities-details">
    <div class="four wide column">
        <aside class="ui secondary vertical menu sticky fluid" id="city-menu-aside">
                <h1 id="city-menu-header">Cities</h1>
                {% for city in cities %}
                    <div class="ui items">
                    {% if city.id == selected_city.id %}
                        <a class="active item" >
                    {% else %}
                        <a class="item border-control" href="{% url 'city_details' city.id %}">
                    {% endif %}
                            <div class="ui content">
                                {% if city.image %}
                                    <img src="{{ city.image.url }}" alt="city_image" width='100px'/>
                                {% else %}
                                    <img src="/static/images/profile/default-thumbnail.png" alt="default_image" width="240"/>
                                {% endif %}
                                <div class="header">
                                    {{ city.name }}
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
        </aside>
    </div>
    <section class="ui twelve wide column" id="details-container">
        <div class="ui orange card fluid">
            <div class="ui clearing basic segment">
                <div class="ui left floated">
                    <h1>{{ selected_city.name }}</h1>
                    <h3>{{ selected_city.country }}</h3>
                </div>
                <div class="ui right floated">
                    {% if selected_city.image %}
                        <img src="{{ selected_city.image.url }}" alt="city_image" width='300px'/>
                    {% else %}
                        <img src="/static/images/profile/default-thumbnail.png" alt="default_image" width="300px"/>
                    {% endif %}
                </div>
            </div>
            <div class="ui clearing basic segment">
                <div class="ui left floated">
                    <h1>Posts</h1>
                </div>
                <div class="ui right floated" id="add-post">
                    <h1 id="add-post"><i class='plus circle icon'></i></h1>
                </div>
            </div>
        </div>
        <section class="">
            {% for post in selected_city.posts %}
                    {% include '../partials/posts.html' %}
            {% endfor %}
        </section>
    </section>
</div>



        <div class="ui container">
            <div class="ui tiny modal" id="new_post">
                <i class="close icon"></i>
                {% block error %} 
                    
                    {% endblock %}
                    <div class ="header">
                        New Post
                    </div> 
                    <div class="content">
                        <form class="ui form" enctype="multipart/form-data" action="{% url 'post_create' selected_city.id %}" method='POST'>
                        {% csrf_token %}
                        {% comment %} {{ post_form.as_p }} {% endcomment %}
                        <div class="field">
                            <label>Title</label>
                                <div class="ui input">
                                    {{ post_form.title }}
                                </div>
                        </div>                                   
                        <div class="field">
                            <label>Post</label>
                                <div class="ui input">
                                    {{ post_form.content }}
                                </div>
                        </div>                          
                        <div class="field">
                            <label>Image</label>
                                <div class="ui left icon input">
                                    {{ post_form.image }}
                                    <i class="upload icon"></i>
                                </div>
                        </div>

                        <input class="ui teal button" type="submit" value="Post" class="btn">
                        
                        </form>
                    </div>
            </div>
        </div>
    
    <script type="text/javascript">
     $(document).ready(function(){
     $('#add-post').click(function(){
        $('#new_post').modal('show');    
     });
     });
    $('.ui.sticky')
  .sticky({offset: 123, context: "#details-container"})
;</script>
{% endblock  %}


