{% extends 'base.html' %}
{% block content %}

<div class="ui container">
    <div class ="ui dividing header">
        <h2>Edit Profile</h2>
    </div>  
        <form class="ui form" method="post">
            {% csrf_token %}
            <div class="field">
                <label>User Name</label>
                <div class="ui input" >
                    {{ user_form.username }}
                </div>
            </div> 
            <div class="field">
                <label>Current City</label>
                <div class="ui input">
                    {{ profile_form.current_city }}
                </div>
            </div> 
            <div class="field">
                <label>Favorite City</label>
                <div class="ui input">
                    {{ profile_form.favorite_city }}
                </div>
            </div>
            
            <button type="submit">Save changes</button>
        </form>
    
</div>

</div>

{% endblock %}
