{% extends 'base.html' %} {% block content %}

<aside class="profile_sidebar">
    <div class="profile_image">
        <img src="{{ user.profile.image.url }} " alt="profile_image" width="240"/>
    </div>
    <div>
        <h1>{{ user.username }}</h1>
    </div>
    <div>
        <ul>
            <p>{{ user.profile.favorite_city }}<p>
            <p>{{ user.profile.current_city }}<p>
            <p>{{ user.date_joined }}<p>

        </ul>
    </div>
</aside>
<section>
    {% for post in posts  %}
        {% include '../partials/posts.html'%}
    {% endfor %}
</section>


{% endblock %}