<body class="body-login-page">
    <div class="ui container">
        <div class="ui modal" id="ui_modal">
            <i class="close icon"></i>
                {% block error %} 
                
                {% endblock %}
                <div class ="header">
                Login
                </div> 

              

            <div class="form">
                <form method="POST" action="{% url 'login' %}">
                {%  csrf_token %} {{ login_form.as_p }}
                <input type="submit" class="btn" value="login"/>
                <input type="hidden" name="next" value="{{next}}" />          
           
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
     $(document).ready(function(){
     $('#log_in').click(function(){
        $('#ui_modal').modal('show');    
     });
     });
     </script>
</body>
