{% extends 'base.html' %}
{% block content %} 

<body class="body-login-page">
    <h1>Log in</h1>
    {% comment %} <div class="ui container">
        <div class="ui modal">
            <i class="close icon"></i> 
                <div class ="header">
                    Hello!
                </div> {% endcomment %}
                <div class="content">
                    <form method="POST" action="{% url 'login' %}">
                    {%  csrf_token %} {{ form.as_p }}
                    <input type="submit" class="btn"
                    value="login">
                    <input type="hidden" name="next" value="{{next}}" />
                    </form>
                </div>
        {% comment %} </div>
    </div>
    <script>
        $('.ui.modal').modal('show');
    </script> {% endcomment %}
</body>

{% endblock %}