{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wayfarer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href= "{% static 'flickity/flickity.css' %}" media="screen">
</head>
<body>
  <main>
    <div class="ui menu" id="nav_home">
        <div id="image-box">
            <img src="https://static.thenounproject.com/png/1753447-200.png" alt="WF-Icon" id="logo-image">
        </div>
        <div class="left item">
            <h1 id="logo_text">Wayfarer</h1>
        </div>
        <div class="right item">
            {% comment %} {% if user.is_authenticated %} {% endcomment %}
                <a href=""><h1 id="profile">Profile</h1></a>
                <a href="{% url 'logout' %}"><h1 id="logout">Log Out</h1></a>
            {% comment %} {% else %} {% endcomment %}
                <a href="{% url 'login' %}"><h1 id="log_in">Log In</h1></a>
                <a href="{% url 'signup' %}"><h1 id="sign_up">Sign Up</h1></a>
            {% comment %} {% endif %} {% endcomment %}
        </div>
    </div>
    {% block content %}
    {% endblock %}
  </main>
  <script src="{% static 'flickity/flickity.pkgd.min.js' %}"></script>
</body>
</html>