{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wayfarer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link rel="stylesheet" href="https://unpkg.com/flickity-fullscreen@1/fullscreen.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href= "{% static 'flickity/flickity.css' %}" media="screen">
</head>
<body>
  <main>
    <div class="ui mini menu fixed" id="nav_home">
        <div id="image-box">
            <img src="https://static.thenounproject.com/png/1753447-200.png" alt="WF-Icon" id="logo-image">
        </div>
        <div class="left item">
            <a href="{% url 'home' %}">
                <h2 id="logo_text">Wayfarer</h2>
            </a>
            <a href="{% url 'city_details' 1 %}">
                <h2 id="city_link">Cities</h2>
            </a>
        </div>
        <div class="left item borderless">
            {% comment %} <a href="cities/1">
                <h2 id="city_link">Cities</h2>
            </a> {% endcomment %}
        
        </div>

        {% if user.is_authenticated %}
        <div class="right item borderless">
            <div class="center">
                <a href="{% url 'profile' %}">
                    <h2 id="profile-link">
                        <i class="user icon"></i>
                        Profile
                    </h2>
                </a>
            </div>
            <div class="center item borderless">
                 <a href="{% url 'logout' %}">
                    <h2 id="logout">
                        <i class="sign out icon"></i>
                        Log Out
                    </h2>
                </a>
            </div>
        </div>
            
        {% else %}
            <div class="right item">
                <h2 id="log_in">
                    <i class="sign in icon"></i>
                    Log In
                </h2>
                <h2 id="sign_up">
                    <i class="user plus icon"></i>
                    Sign Up
                </h2>
            </div>
            
            {% comment %} <div class="right item">
                
            </div > {% endcomment %}
        {% endif %}
        
    </div>
    {% block content %}
    {% endblock %}
    
  </main>
  <script src="{% static 'flickity/flickity.pkgd.min.js' %}"></script>

    {% comment %} Login Modal {% endcomment %}
    {% include 'registration/login.html' %}
    {% comment %} Signup Modal {% endcomment %}
    {% include 'registration/signup.html' %}
</body>
</html>