{% extends 'base.html' %}
{% block content %}

    <!-- Flickity HTML init -->
    <div class="carousel"
    data-flickity='{ "imagesLoaded": true, "percentPosition": false, "wrapAround": true }'>
        <img src="../static/images/cities/vintage-sydney.jpeg" alt="vintage sydney" />
        <img src="../static/images/cities/vintage-sf.jpeg" alt="vintage sf" />
        <img src="../static/images/cities/vintage-seattle.jpeg" alt="vintage seattle" />
        <img src='../static/images/cities/vintage-london.jpeg' alt="vintage london">
    </div>

    <div id="home-bottom-header">Wayfarer is:</div>

{% comment %} Login Modal {% endcomment %}
{% include 'registration/login.html' %}
{% comment %} Signup Modal {% endcomment %}
{% include 'registration/signup.html' %}


{% endblock  %}