{% extends 'base.html' %}
{% block content %}

    <!-- Flickity HTML init -->
    <div class="carousel"
    data-flickity='{ "imagesLoaded": true, "percentPosition": false, "wrapAround": true }'>
        <img src="../static/images/cities/vintage-sydney.jpeg" alt="vintage sydney" />
        <img src="../static/images/cities/vintage-sf.jpeg" alt="vintage sf" />
        <img src="../static/images/cities/vintage-seattle.jpeg" alt="vintage seattle" />
        <img src='../static/images/cities/vintage-london.jpeg' alt="vintage london">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/cat-nose.jpg" alt="cat nose" />
    </div>

    <div id="home-bottom-header">Wayfarer is:</div>
    
    {% include 'registration/login.html' %}


{% endblock  %}