#home_upper_nav {
    background-color: #d92027;
}

#log_in {
    position: inline right;
    background-position: right;
}

#sign_up {
    position: inline right;
    background-position: right;
}

#profile {
    position: inline right;
    background-position: right;
}