* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
* :hover, * :active :focus {
    color: black;
    outline-color: transparent;
}

body {
    margin-top: 6em;
}

a {
    color: black;
    background-color: inherit;
}

a :hover, :active :focus {
    text-decoration: underline;
    color: black;
    outline-color: black;
}

.ui.teal.button,.ui.teal.buttons .button {
    background-color:#35d0ba;
}

.edit_container {
    display: flex;
    margin-top: 250px;
    justify-content: center;
    align-items: center;
}

.middle-aligned {
    display: flex;
    align-content: center;
}

#nav_home {
    background-color: #d92027;
}

#logo-image {
    height: 75px;
}

#logo_text{
    margin: 20px;
    display: inline;
    color: black;
}

#sign_up {
    margin: 0 auto;
    margin-right: 10px;
    display: inline;
}

#log_in {
    margin: 0 auto;
    margin-right: 10px;
    display: inline;
}

#profile {
    margin: 0 auto;
    margin-right: 10px;
    display: inline;
}

#logout {
    margin: 0 auto;
    margin-right: 10px;
    display: inline;
    color: black;
}

#image-box {
    border-color: #ff9234;
    border-width: thin;
}

#post-detail {
    display: flex;
    min-width: 500px;
}

#post-content {
    background-color: #35d0ba;
}

#city-menu {
    display: flex;
    margin-left: 1em;
    width: 20vw;
}

#city-menu a, #city-menu div{
    margin: auto .2em;
}

#details-container {
    display: flex;
    flex-direction: column;
    width: 50vw;
}

#city-menu-header {
    margin-left: 15px;
}
