
<article>
    <aside>
        {% if post.image %}
            <img src='{{post.image.url}}' />
        {% else %}
            <img src="/static/images/post/default-thumbnail.png" alt="" width='100px'>
        {% endif %}
    </aside>
    <section>
        <div>
            <p>{{ post.user.username }}</p>
            <p>{{ post.city.name }}</p>
        </div>
        <p><a href="{% url 'show_post' post.id %}">{{ post.title }}</a></p>
        <p>{{ post.content }}</p>
    </section>
    <section>
        <p>
            {% if post.user == request.user %}
                EDIT
            {% endif %}
        </p>
    </section>
</article>

<div class="ui items">

    <div class="ui item"></div>

</div>