{% extends 'base.html' %}
{% block content %}

{% comment %} <article>
    <div>
        {% if post.image %}
            <img src='{{post.image.url}}' />
        {% else %}
            <img src="/static/images/post/default-thumbnail.png" alt="" width='100px'>
        {% endif %}
    </div>
    <div>
        <section>
            <p>{{post.user.username}}</p>
            <p>{{post.city}}</p>
        </section>

        <section>
            <p>{{post.title}}</p>
        </section>

        <section>
            <p>{{post.content}}</p>
        </section>
        <aside>
            <p>
                <a href=''>
                    <button class='ui primary button'>Edit</button>
                </a>
            </p>
        </aside>
    </div>
</article> {% endcomment %}

<div class="ui centered card" id="post-detail" style= 'width: 400px; height: 500px' >
  <div class="image">
    {% if post.image %}
        <img src='{{post.image.url}}'/>
    {% else %}
        <img src="/static/images/post/default-thumbnail.png" alt="" width='100px'>
    {% endif %}
  </div>
  <div class="content">
    <a class="header">
        <p>{{post.title}}</p>
    </a>
    <div class="meta">
        <span class=>
            <p> created by {{post.user.username}}</p>
        </span>
    </div>
    <div class="description">
        <p>{{post.content}}</p>
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="compass outline icon"></i>
      {{post.city}}
    </a>
    <button href={% url 'posts_delete' post.id %} class="ui button">
        Delete
    </button>
  </div>
</div>

<div class="ui modal">
  <div class="header">Are you sure?</div>
  <div class="content">
    <p> This action cannot be undone! </p>
  </div>
  <div class="actions">
    <div class="ui approve button">Yes</div>
    <div class="ui cancel button">Cancel</div>
  </div>
</div>

{% endblock %}